

.cell.oddcol{
    border-left:1px solid black;
    border-right:1px solid black;
}

.cell.oddrow{
    border-top:1px solid white;
    border-bottom:1px solid white;
}

#game{
    background-color: rgba(0, 0, 0, 0.8);
    padding: 30px;
    border-radius: 30px;
}

#game.cell{
    width:80px;
    height:80px;
}


